<div class="nav-top">
	<div class="navbar navbar-expand-lg navbar-dark  fixed-top">
		<div class="container">
			<div class="logo">
				<a routerLink="/home" routerLinkActive="active">
					GIA SƯ
				</a>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<div class="right">
					<div class="w3-socials">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active">
								<a class="nav-link" routerLink="/home" routerLinkActive="active">Trang chủ
									<span class="sr-only">(current)</span>
								</a>
							</li>

							<li>
								<div class="dropdown">
									<a href="javascript:void(0)" >Danh sách gia sư</a>
									<div class="dropdown-content">
										<a href="#">Theo lớp</a>
										<a href="#">Theo môn</a>
									</div>
								</div>
							</li>


							<li class="nav-item">
								<a class="nav-link" routerLink="/about" routerLinkActive="active">Giới thiệu</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" routerLink="/service" routerLinkActive="active">Dịch vụ</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" routerLink="/contact" routerLinkActive="active">Liên hệ</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" routerLink="/news" routerLinkActive="active">Tin tức</a>
							</li>
							<li class="nav-item">
								<div class="dropdown">
									<button class="dropbtn" routerLink="/login">Đăng nhập</button>
								</div>
							</li>

							<li>
								<div class="dropdown">
									<button class="dropbtn">Đăng ký</button>
									<div class="dropdown-content">
										<a href="#">Đăng ký làm gia sư</a>
										<a href="#">Đăng ký tìm gia sư</a>
									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>