<footer> 
<section class="footer footer_w3layouts_section_1its py-md-5">
	<div class="container py-5">
		<div class="row footer-top">
			<div class="col-lg-3 footer-grid_section_1its_w3">
				<div class="footer-title">
					<h3>Giới thiệu thêm</h3>
				</div>
				<div class="footer-text">
					<p>Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at tellus.
						Nulla porttitor accumsana tincidunt. Vestibulum ante ipsum primis tempus convallis.</p>
					<!-- <ul class="social_section_1info">
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-google-plus-g"></i></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin-in"></i></i></a></li>
					</ul> -->
				</div>
			</div>
			<div class="col-lg-3 footer-grid_section_1its_w3">
				<div class="footer-title">
					<h3>Thông tin liên lạc</h3>
				</div>
				<div class="contact-info">
					<h4>Vị trí:</h4>
					<p>Tòa nhà VinHome Grand.</p>
					<div class="phone">
						<h4>SĐT :</h4>
						<p>Phone : +8432 774 2927</p>
						<p>Email : <a href="phucnvph08790@fpt.edu.vn">phucnvph08790@fpt.edu.vn</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-2 footer-grid_section_1its_w3">
				<div class="footer-title">
					<h3>Liên Kết</h3>
				</div>
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="typography.html">Typography</a></li>
					<li><a href="gallery.html">Gallery</a></li>
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-lg-4 footer-grid_section_1its_w3">
				<div class="footer-title">
					<h3>Tin Mới Nhất</h3>
				</div>
					 <div class="d-flex justify-content-around">
                            <a href="#" class="col-4 fot_tp p-2">
                                <img src="https://i.imgur.com/LuiGlAA.jpg" class="img-fluid" alt="Responsive image">
                            </a>
                            <a href="#" class="col-4 fot_tp p-2">
                                <img src="https://i.imgur.com/lwnG91N.jpg" class="img-fluid" alt="Responsive image">
                            </a>
                            <a href="#" class="col-4 fot_tp p-2">
                                <img src="https://i.imgur.com/rQvpQTb.jpg" class="img-fluid" alt="Responsive image">
                            </a>
                        </div>
                        <div class="d-flex justify-content-around">
                            <a href="#" class="col-4 fot_tp p-2">
                                <img src="https://i.imgur.com/RPwQpkT.jpg" class="img-fluid" alt="Responsive image">
                            </a>
                            <a href="#" class="col-4 fot_tp p-2">
                                <img src="https://i.imgur.com/w2WWBTi.jpg" class="img-fluid" alt="Responsive image">
                            </a>
                            <a href="#" class="col-4 fot_tp p-2">
                                <img src="https://i.imgur.com/FT3CnHQ.jpg" class="img-fluid" alt="Responsive image">
                            </a>
                        </div>
			</div>
		</div>
		<div class="copyright">
			<p>© 2020 Gia Sư. Bản quyền & Sở hữu | Thiết Kế Bởi <a href="http://facebook.com/my.life.988/">Phúc Nguyễn</a> </p>
		</div>
	</div>
</section>
</footer>