<div class="row">
				<div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of giasus">
					<div class="card h-100">
							<div class="card-body">
								<h4 class="card-title">
									<a routerLink="">{{product.hoten}}</a>
								</h4>
								<h5>{{product.ngaysinh}}</h5>
							</div>
							<div class="card-footer">
								<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
							</div>
							<div><button  routerLink="/product/{{product.id}}">Chi tiết</button></div>
					</div>
				</div>
			</div>